{% extends "base.html" %}
{% block title %}
{{ question.title }}
{% endblock %}

{% block head %}
<style>
    html,body,form,#main{
        height:100%;
    }

canvas {
padding: 1px;
}
#viewerPane{
    overflow: scroll;
    height:100%;
}
viewer{
    overflow: scroll;
    height:100%;
}
</style>
{% endblock %}

{% block content %}
<div id="main" class="grid grid-flow-row grid-cols-12 h-100">
    <div id="details" class="p-5 h-100 col-span-2">
        <div>
            <a href="/question">Home</a>
        </div>
        <div>
            Tags: {{question.tags}}
        </div>
        <div>
            Compétences: {{question.competences}}
        </div>
        <div>
            Fichiers attachés:
            <ul>
            @for elt in question.attachments 
            <li>{{elt}}</li>
            @endfor    
            </ul>
        </div>
    </div>
    <div id="editorPane" class="p-5 h-100 col-span-5">
        <form class="h-100 row-span-1" id="editor" action="/question/{{question.id}}" method="PUT">
            {{ csrf_field }}

            <label> Titre: </label>
            <input class="block bg-white w-full border border-slate-300 rounded-md py-2 pl-2 pr-2 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1" type="name" name="title" value="{{ question.title }}"><br>

            <textarea id="body" style="width:100%;height:80%" class="block bg-white w-full border border-slate-300  shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1" name="body">{{ question.body }}</textarea><br>
            <label> Étiquettes: </label>
            <input class="block bg-white w-full border border-slate-300  shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1" type="name" name="tags" value="{{ question.tags }}"><br>

            <input type="submit" value="Mettre à jour">
        </form>

  
</div>
<div id="viewerPane" class="p-2 col-span-5 h-100">
        <div id="navViewBar"><a href="">Télécharger le PDF</a> </div>
        <div id="viewer" class="h-100" style="background-color: darkslategrey;">
        
        </div>
    

</div>
</div>
{% endblock %}

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.8.162/pdf.min.js" integrity="sha512-9Wd08apcJEwm8g3lBTg1UW/njdN0iuuOVWKpyinK3uA7ISAE5PmEZ4y8bZYTXVOE3tlt7aFlCBBLmLt5cUxe2Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/compiled/js/editorq.js"></script> 

{% endblock %}