@if auth()
    <div>
        <div>Créer une question:
        <form action="/question" method="POST">
            {{ csrf_field }}
    
            <label> Titre: </label>
            <input type="name" name="title"><br>
    
            <input type="submit" value="Créer">
        </form>
        </div>
        Liste des questions (à distinguer)
        <ul>
            {% for q in questions %}
              <li><a href="/question/{{ q.id }}">{{ q.title }}</a></li>
            {% endfor %}
            </ul>
    </div>
@else
    <a href="/login">Identifiez-vous</a>
@endif